bcrypt==5.0.0
brotlicffi==1.2.0.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.4
contourpy==1.3.3
cryptography==49.0.0
cycler==0.12.1
fonttools==4.63.0
idna==3.18
invoke==3.0.3
kiwisolver==1.4.9
matplotlib==3.10.9
mkl_fft==2.2.0
mkl_random==1.3.0
mkl-service==2.5.2
numpy==2.4.6
numpy-typing-compat==20251206.2.4
optype==0.17.1
packaging==26.0
pandas==3.0.3
pandas-stubs==3.0.3.260530
paramiko==5.0.0
paramiko-expect==0.3.5
pillow==11.1.0
pip==26.1.1
pycparser==3.0
pyjokes==0.8.3
PyNaCl==1.6.2
pyparsing==3.2.5
PyQt6==6.9.1
PyQt6_sip==13.10.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
requests==2.34.2
scipy==1.17.1
scipy-stubs==1.17.1.5
seaborn==0.13.2
setuptools==82.0.1
sip==6.12.0
six==1.17.0
tornado==6.5.5
tzdata==2026.2
urllib3==2.7.0
wheel==0.46.3
win_inet_pton==1.1.0
